/* Dashboard Container */
.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  /* overflow: auto; */
  /* width: 100vw; */
}

/* Top Navbar */
.top-navbar {
  /* left: 0; */
  margin-top: -10px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #256428;
  color: white;
  padding: 1px 24px;
  margin-left: -10px;
  z-index: 1000;
  /* margin-right: 100px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

/* Left: Logo and Title */
.navbar-left {
  display: flex;
  align-items: center;
}

.app-logo {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.app-title {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Right: Role Dropdown */
.navbar-right {
  display: flex;
  align-items: flex-start;
  padding-right: 50px;
}

.navbar-right mat-form-field {
  /* top: 120px; */
  min-width: 250px;
  /* background-color: white; */
  border-radius: 4px;
  margin-right: 50px;
  padding-top: 2px;
}

/* Main layout */
.main-layout {
  display: flex;
  flex: 1;
  overflow: auto;
}

/* Side Navigation */
.side-nav {
  /* margin-top: 250px; */
  width: 240px;
  /* background-color: #333; */
  color: white;
}

/* Content Area */
.content {
  /* margin-left: 240px; */
  margin-top: 100px;
  padding-top: 50px;
  /* overflow-y: auto; */
  flex-grow: 1;
  height: calc(100vh - 64px);
}

.icon {
  display: flex;
  align-items: center;
  font-size: 35px;
  color: white;
  padding-top: 30px;
}
